body {
    margin: 0;
    font-size: .875rem;
    line-height: 1.71429;
    font-size: 0.875rem;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 1100px) {
    #left-side {
        display: none;
    }
    
    #second-box {
        display: none;
    }
    
    #third-box {
        display: none;
    }
}

#wrap {
    width: 100%;
    display: flex;
}

#left-side {
    width: 40%;
    background-color: rgb(0, 88, 163);
    justify-content: space-between;
    min-height: 93vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding:  2rem 5rem;
    position: relative;
}

#right-side {
    width: 60%;
    height: auto;
    padding:  2rem 5rem;
    position: relative;
}

#first-box {
    width: 100%;
    height: 100%;
    position: relative;
}

#second-box {
    width: 100%;
    height: 100%;
    position: relative;

}

#third-box {
    width: 100%;
    height: 100%;
    position: relative;

}

#ikea-logo {
    height: 44px;
    width: 88px;
    background-color: rgb(0, 88, 163);
    position: absolute;
    left: 108px;
}

.logIn-message {
    position: absolute;
    top: 55px;
    padding: 0 auto;
    left: 108px;
    max-width: 25rem;
}

.logIn-text1 {
    margin: 1rem 0 0;
    font-size: 32px;
    color: #ffffff;
}

.logIn-text2 {
    margin: 0;
    line-height: 20px;
    padding-top: 14px;
    margin-bottom: 0px;
    color: #ffffff;
}

.logIn-space {
    height: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: 108px;
    font-size: 11px;
}

.cookie-policy-link{
    color: #ffffff;
}

.privacy-policy-link{
    color: #ffffff;
}

.svg-color {
    color: #ffffff;
}

.svg-icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    color: #ffffff;
}

#right-side {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-form {
    width: 28rem;
    padding: 1rem 0rem;
}

.input-id input:focus {
    border: 2px solid #0058a3;
    outline: none;
}

.id {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#family-signup-form-id {
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5;
    padding: 0;
    /* border: 0; */
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    box-sizing: border-box
}

.alternative-link {
    color: #484848;
    font-weight: bold;
}

.signup-form-space {
    height: 24px;
}



.btn-password-reset {
    background: none;
    border: 0;
    border-radius: 64px;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.4285714286;
    outline: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.btn-inner {
    background-color: #0058a3;
    align-items: center;
    border-radius: 64px;
    display: inline-flex;
    justify-content: space-around;
    min-height: 3.5rem;
    padding: 0 2rem;
    width: 100%;
    align-content: space-around;
}

.btn-password-reset-label {
    color: #fff;
}

.btn-password-reset :hover {
    background-color: #004f93;
}
